{
    "extends": [
        "@globalrelay",
        "@globalrelay/eslint-config/prettier/.eslintrc"
    ],
    "rules": {
        "max-len": [
            "error",
            {
                "code": 150,
                "ignoreUrls": true
            }
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "info",
                    "warn",
                    "error"
                ]
            }
        ],
        "require-await": "off",
        "@typescript-eslint/require-await": "error"    
    }
}